*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('https://res.cloudinary.com/practicaldev/image/fetch/s--vqF9LVka--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://images.unsplash.com/photo-1545193544-312983719627%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26auto%3Dformat%26fit%3Dcrop%26w%3D1650%26q%3D80');
    background-size: cover;
}

#search-bar {
    position: absolute;
    left: 80%;
    height: 40px;
    width: 200px;
    font-size: 20px;
    letter-spacing: 3px;
}

#search-btn {
    position: absolute;
    left: 70%
}

.main-weather-display{
    position: absolute;
    top: 20%
}

.weather-details {
    position: absolute;
    left: 500px;
    bottom: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.degrees {
    font-size:  50px;
}